h2.sectn-title {
    border-bottom: 4px solid #3a3a3a;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

h2.sectn-title .btn.pull-right {
    top: -5px;
    position: relative;
}

body, h1, h2 {
    font-family: 'Roboto Condensed', sans-serif;
}

.jumbotron h1,
h2.featurette-heading {
    color: #FFFFFF;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #FFFFFF;
    background-color: transparent;
}

img.photo-praticien {
    margin-top: 20px;
}

h3.nom-praticien {

}

h2.featurette-heading {
    color: #5a5a5a;
    font-weight: bold;
}

h3.featurette-heading {
    border-bottom: 4px solid #00186D;
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: #00186D;
    margin-top: 0px;
}

.img-thumbnail {

/
/
border:

1
px solid #00186D

;
    }

.photo-formateur {
    width: 329px;
}

ul.experience-praticien li {
    font-size: 20px;
    margin-bottom: 20px;
}

.row.profil-praticien {
    margin-bottom: 20px;
}

ul.liste-premier-niveau > li {
    font-size: 20px;
    margin-bottom: 10px;
}

ul.liste-deuxieme-niveau > li {
    font-size: 12px;
    margin-bottom: 10px;
}

img.featurette-image {
    float: left;
    margin-right: 20px;
    margin-top: 10px;
}

.featurette-image.fa {
    float: left;
    font-size: 80px;
    margin-right: 20px;
    margin-top: 10px;
}

.featurette-image.fa.fa-code {
    color: #F23903;
}

.featurette-image.fa.fa-gears {
    color: #45494A;
}

.featurette-image.fa.fa-usd {
    color: #0FBE00;
}

.featurette-image.fa.fa-map-marker {
    color: red;
}

/*
.jumbotron:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #FFFFFC url("../img/encre_dans_eau.jpg") no-repeat scroll right;
    background-size: 100% 100%;
}*/

/* Social proof buttons from GitHub & Twitter */
.bs-docs-social {
    padding: 15px 0;
    text-align: center;
    background-color: #f5f5f5;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ddd;
}

/* Quick links on Home */
.bs-docs-social-buttons {
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.bs-docs-social-buttons li {
    display: inline-block;
    padding: 5px 8px;
    line-height: 1;
    *display: inline;
    *zoom: 1;
}

.github-btn {
    border: 0;
}

#social-buttons {
    padding: 22px 0 17px;
    text-align: center;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

#social-buttons ul.unstyled {
    margin: 0;
}

ul.unstyled {
    list-style: none;
}

ul.inline > li, ol.inline > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.jumbotron {
    position: relative;
    padding: 40px 0;
    color: #eeeeee;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
    background: #1BB7EA;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#020031', endColorstr='#eeeeee', GradientType=1);
    -webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);
    -moz-box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);
    box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);
}

.jumbotron h1 {
    font-size: 80px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
}

.masthead, .subhead {
    padding: 20px 0 80px;
}

.masthead {
    padding: 70px 0 20px;
    margin-bottom: 0;
    color: #fff;
}

.masthead h1, .masthead h2, .masthead p, .subhead h1, .subhead h2, .subhead p {
    text-align: left;
}

.masthead h1 {
    font-size: 120px;
    line-height: 1;
    letter-spacing: -2px;
}

.masthead .btn, .subhead .btn {
    padding: 19px 24px;
    font-size: 24px;
    font-weight: 200;
}

.footer .inline {
    display: inline !important;
}

.footer {
    background-color: #1BB7EA;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}

.footer a {
    color: #ffffff;
    border-bottom: dotted 1px #ffffff;
}

.footer a:hover {
    color: #ffffff;
    text-decoration: none;
    border-bottom: solid 1px #ffffff;
}

.marketing {
    color: #5a5a5a;
}

.marketing .introduction {
    text-align: center;
}

.marketing h1 {
    margin: 40px 0 10px;
    font-size: 60px;
    font-weight: 200;
    line-height: 1;
    letter-spacing: -1px;
}

.marketing .marketing-byline {
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.25;
    color: #999;
}

hr {
    width: 50%;
}

.navbar-header {
}

.navbar {
    min-height: 74px;
}

.navbar-brand {
    float: left;
    padding: 25px 25px;
    font-size: 22px;
    line-height: 24px;
    float: left;
}

.navbar-brand-logo {
    float: left;
    padding-top: 5px;
}

.navbar-inverse .navbar-brand {
    color: #ddd;
}

.navbar-form {
    top: 10px;
    position: relative;
}


.navbar-toggle {
    margin-top: 20px;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 27px 15px;
}

blockquote small, blockquote .small {
    color: #dddddd;
}

.main-features .fa-lock, .main-features .fa-download {
    font-size: 200px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    height: 150px;
    margin-bottom: 0px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 150px;
    background-color: #777;
}

.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 150px;
}

.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
    left: 10%;
}

.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
    right: 10%;
}
